@use 'reset';
@use 'movie';
@use 'login';

html {
  font-family: 'Montserrat', sans-serif;
  background-color: #1c1c1c;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header, footer {
  background-color: #0c0c0c;
  padding: 0 1em;
  height: 4em;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  .material-icons.md-36 { font-size: 36px; }

  *:nth-child(1) { margin-right: auto; }
  *:nth-child(3) { margin-left: auto; }
  * { margin: auto 0; }

  h1 { font-size: 2em; }
}

.login {
  border: solid 1px;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.search-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;

  input[type=text] {
    padding: 0.5em 1em;
    border: solid 1px;
    border-radius: 5px;
  }
}

:root {
  --movie-width: 250px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--movie-width));
  justify-content: center;
  gap: 1em;
  padding: 2em 2em;
}
