@use 'reset';

@use 'common/button';

@use 'common/green-bg';

@use 'common/hover-focus-dim';
@use 'common/hover-focus-outline';

@use 'common/header-footer';

@use 'common/img-section.scss';

@use 'index/index';
@use 'index/movie-card';

@use 'movie.scss';

@use 'forms/form-section';

:root {
  --text-color: white;
  --common-background-color: #1c1c1c;
  --header-footer-background-color: #0c0c0c;

  --button-border-color: #bdbdbd;
  --content-border-color: #585858;

  --movie-card-width: 250px;
}

html {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--common-background-color);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
