.form-section {
  display: flex;
  justify-content: center;
}

.common-form-container {
  box-sizing: border-box;

  width: 300px;

  border: 1px solid var(--content-border-color);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;

  input[type=text], input[type=password] {
    box-sizing: border-box;
    width: 85%;
    height: 2.5em;
    border: 1px solid var(--content-border-color);
    border-radius: 5px;
    background-color: #292d2e;
    padding: 0.2em 0.3em;
    color: white;
  }

  input[type=password]:nth-child(3) { margin-top: -1em; }

  button {
    box-sizing: border-box;
    width: 85%;
    text-align: center;
  }
}

.register-form {
  height: 275px;
}

.login-form {
  height: 225px;
}
