<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Movies</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
        <a class="home hover-focus-dim" href="/"><span class="material-icons md-36">&#xe88a;</span></a>
        <h1><a href="/">Top Movies</a></h1>

        <div class="auth-box">
            <div id="auth-btns-box" class="auth-btns-box" style="display: none;">
                <!-- todo: a tags instead of buttons -->
                <a href="/login">
                    <button class="button" type="submit">Login</button>
                </a>
                <a href="/register">
                    <button class="button green-bg" type="submit">Register</button>
                </a>
            </div>

            <button id="user-box" class="user-box button hover-focus-outline" style="display: none;">
              <span id="username" class="username">Username</span>
              <span class="material-icons md-20">&#xe5c5;</span>
              <div id="dropdown" class="dropdown-box" style="display: none;">
                <a href="#">Profile</a>
                <a href="#">Stuff</a>
                <a id="logout" href="#">Logout</a>
              </div>
            </button>
        </div>
    </header>

    <div class="search-container">
      <input type="text" placeholder="Search..">
    </div>

    <div class="index-content">

      {% for movie in movies %}
        <div class="movie-card">
          <div class="inner-movie">
            <div class="img-section"><img src="{{ movie.image_url }}" alt=""></div>
            <p>{{ movie.title }}</p>
          </div>
        </div>
      {% endfor %}

    </div>

    <footer>
      <a href="/about">About</a>
    </footer>

    <script src="index.js"></script>
  </body>
</html>
