  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Top Movies</title>

      <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
      </style>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
      <header>
          <form action="/" method="get">
            <button type="submit" class="home"><span class="material-icons md-36">&#xe88a;</span></button>
          </form>
          <h1>Top Movies</h1>
          <div class="auth-buttons">
            <form action="/login" method="get">
              <button class="button" type="submit">Login</button>
            </form>
            <form action="/register" method="get">
              <button class="button green" type="submit">Register</button>
            </form>
          </div>

      </header>

      <div class="search-container">
        <input type="text" placeholder="Search..">
      </div>

      <div class="index-content">

        {% for movie in movies %}
          <div class="movie-card">
            <div class="inner-movie">
              <div class="img-section"><img src="{{ movie.image_url }}" alt=""></div>
              <p>{{ movie.title }}</p>
            </div>
          </div>
        {% endfor %}

      </div>

      <footer>
        <a href="/about">About</a>
      </footer>
    </body>
  </html>
