<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Movies</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <!--# include file="/include_header.html" -->

    <img src="{{ image_url }}" alt="" style="width: 20%;">
    <p>{{ title }}</p>
    <p>{{ description }}</p>


    <!--# include file="/include_footer.html" -->

    <!-- <script type="module" src="index.js"></script> -->
  </body>
</html>
