<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Movies</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <!--# include file="/include_header.html" -->

    <div class="page-content">

        <div class="poster-section">
            <div class="img-section">
                <img src="{{ image_url }}" alt="">
            </div>
        </div>

        <div class="movie-text-section">
            <h1>{{ title }}</h1>

            <h2>Synopsys</h2>
            <p>{{ description }}</p>

        </div>
    </div>

    <!--# include file="/include_footer.html" -->

    <!-- <script type="module" src="index.js"></script> -->
  </body>
</html>
