.search-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;

  input[type=text] {
    padding: 0.5em 1em;
    border: solid 1px var(--content-border-color);
    border-radius: 5px;
  }
}

.index-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--movie-card-width));
  justify-content: center;
  gap: 1em;
  padding: 2em 0;
  width: 80%;
  margin: 0 auto;
}
