.movie-card {
    box-sizing: border-box;

    height: 400px;
    width: var(--movie-card-width);

    padding: 1em;

    border: solid 1px var(--content-border-color);
    border-radius: 5%;

    outline: solid 1px transparent;

    transition: all 0.1s ease 0s;
    &:hover {
        outline-color: white;
    }

    .inner-movie {
        height: 100%;
        width: 100%;

        .img-section {
            height: 90%;
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                object-fit: contain;
                max-width: 100%;
            }
        }

        p {
            margin-top: 1em;
            text-align: center;
        }
    }
}
