.button {
    padding: 0.6em 1em;

    border: solid 1px var(--button-border-color);
    border-radius: 5px;

    transition: all 0.2s ease 0s;
    &:active {
        background-color: #5b805b;
    }
}
