header, footer {
  background-color: var(--header-footer-background-color);
  padding: 0 1.5em 0 1em;
  height: 4em;

  * { margin: auto 0; }

  a {
    text-decoration: none;
    color: inherit;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  .material-icons.md-36 { font-size: 36px; }

  *:nth-child(1) { margin-right: auto; }
  *:nth-child(3) { margin-left: auto; }

  h1 { font-size: 2em; }

  .home {
    transition: all 0.2s ease 0s;

    &:focus, &:hover {
      filter: brightness(75%);
    }
  }

  .auth-buttons {
    display: flex;
    gap: 1em;
  }
}

footer {
  display: flex;
}
